---
import Layout from '~/layouts/PageLayout.astro';
---

<Layout
  meta={{
    title: 'Contact us',
    description: 'Get in touch with us',
    dontUseTitleTemplate: false,
  }}
>
  <div class="p-16">
    <h2 class="mb-8 font-bold text-4xl">
      <span class="text-primary">Contact us</span>
    </h2>
  </div>
</Layout>
