---
---

<span class="self-center ml-2 text-3xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
  <img class="w-14 inline" src="favicon.png" alt="kerala developers" />
  <div class="hidden md:inline-block p-2">Kerala Developers</div>
</span>
